/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES CSS */
html {
    --header-height: 3rem;
    /* COLORS */
    /* COLOR MODES HSL(HUE, SATURATION, LIGHTNESS) */
    --hue: 0;
    --sat: 0%;
    --title-color: #333333;
    --title-color-dark: #000000;
    --text-color: #757575;
    --body-color: #fafafa;
    --container-color: #fff;

    /*  FONT AND TYPOGRAPHY */
    --body-font: 'Poppins', sans-serif;

    /* 0.5rem = 8px | 1rem = 16px */
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /* FONT WEIGHT */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* MARGENES BOTOTM */
    /* 0.5rem = 8px | 1rem = 16px */


    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* RESPONSIVE TYPOGRAPHY */
@media screen and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

html {
    scroll-behavior: smooth;
}

body { 
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

li {
    text-decoration: none !important;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    cursor: pointer;
    outline: none; /* what is this */
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* BREAKPOINTS */
/* For large devices */
@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/* For small devices */
@media screen and (max-width: 350px) {}